@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --gradient-soft-violet: hsl(273, 75%, 66%);

  --text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --text-soft-red: hsl(14, 88%, 65%);

  --dividers-light-grayish-blue: hsl(240, 5%, 91%);
  --font-family-kumbh: "Kumbh Sans";
  --font-kumbh-regular: 400;
  --font-kumbh-bold: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gradient-soft-violet);
  font-family: var(--font-family-kumbh);
  font-size: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;

  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  margin-top: 30%;
}

.image-header {
  width: 72%;
  position: relative;
}

.image-header .woman {
  position: absolute;
  top: 0;
  margin-top: -45%;
}

.image-header .shadow {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.arrow {
  transform: scaleY(-1);
}

.question-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.question-content > div {
  overflow: hidden;
}

.checkbox-trigger:checked ~ .question-content {
  grid-template-rows: 1fr;
}

.checkbox-trigger:checked ~ label {
  font-weight: var(--font-kumbh-bold);
}

.checkbox-trigger:checked ~ .arrow {
  transform: scaleY(1);
}

.question-container {
  position: relative;
}

.arrow {
  float: right;
}
