@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --gradient-soft-violet: hsl(273, 75%, 66%);
  --gradient-soft-blue: hsl(240, 73%, 65%);

  --text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --text-dark-grayish-blue: hsl(240, 6%, 50%);

  --dividers-light-grayish-blue: hsl(240, 5%, 91%);
  --font-family-kumbh: "Kumbh Sans";
  --font-kumbh-regular: 400;
  --font-kumbh-bold: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gradient-soft-violet);
  font-family: var(--font-family-kumbh);
  font-size: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;

  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  margin-top: 30%;
}

.image-header {
  width: 72%;
  position: relative;
}

.image-header .woman {
  position: absolute;
  top: 0;
  margin-top: -45%;
}

.image-header .shadow {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.list-questions {
  margin-top: 1rem;
}

.content h1 {
  font-weight: var(--font-kumbh-bold);
  font-size: 2.5em;
}

.arrow {
  transform: scaleY(-1);
}

.question-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.question-content > div {
  overflow: hidden;
}

.question-container label {
  cursor: pointer;
}

.checkbox-trigger {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox-trigger:checked ~ .question-content {
  grid-template-rows: 1fr;
  padding-top: 0.8rem;
}

.checkbox-trigger:checked ~ label {
  font-weight: var(--font-kumbh-bold);
}

.checkbox-trigger:checked ~ .arrow {
  transform: scaleY(1);
}

.question-container {
  position: relative;
  border-bottom: 1px solid var(--dividers-light-grayish-blue);
  padding: 1rem;
}

.question-content {
  color: var(--text-dark-grayish-blue);
}

.arrow {
  float: right;
}

@media (min-width: 850px) {
  .card {
    flex-direction: row;
    align-items: stretch;

    margin-top: initial;
    width: 70%;
    overflow: hidden;
  }

  .content {
    align-items: initial;
    padding: 4rem 4.5rem 4rem 0;
    width: 100%;
  }

  .content h1 {
    padding-left: 1rem;
  }

  .image-header {
    position: static;
    width: 100%;
    min-width: 472px;

    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-clip: content-box;
    background-position-y: -18rem;
    background-position-x: -37rem;

    display: flex;
    align-items: center;
  }

  .image-header .woman {
    position: static;
    margin-top: initial;
    margin-left: -15%;
  }
}

@media (max-width: 1200px) and (min-width: 850px) {
  .card {
    width: 90%;
  }
}
