:root {
  --gradient-soft-violet: hsl(273, 75%, 66%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gradient-soft-violet);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 25px;
  margin: 1rem;
}

.image-header {
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 60%;
}

.image-header img {
  display: inline;
  padding-bottom: 2rem;
  vertical-align: middle;
  margin-top: -5.8em;
}
