:root {
  --gradient-soft-violet: hsl(273, 75%, 66%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gradient-soft-violet);
}

.card {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* position: relative; */

  background-color: white;
  border-radius: 25px;
  margin: 1rem;
}

.image-header {
  width: 60%;

  position: relative;
}

.image-header .woman {
  position: absolute;
  top: 0;
  margin-top: -45%;
}

.image-header .shadow {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
